<div ng-controller="HomeCtrl">
    <ion-view view-title="Solicita tu domicilio">
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-content ng-controller="DomicilioCtrl">
            <div class="col-80 col-offset-10">
                <form role="form" name="DomicilioForm" class="ng-pristine ng-valid">
                    <div class="list">
                        <label class="item item-input item-select">
                        <div class="input-label">
                            Forma de Pago
                        </div>
                        <select ng-model="Domicilio.FormaPago">
                            <option>Efectivo</option>
                            <option>Debito</option>
                        </select>
                        </label>
                        <label class="item item-input item-select">
                        <div class="input-label">
                            Resultados En:
                        </div>
                        <select ng-model="Domicilio.TipoResultados">
                            <option>Fisico</option>
                            <option>Correo Electronico</option>
                        </select>
                        </label>
                            
                        <ion-list>
                            <h5>Examenes Por Realizar: </h5>
                            <ion-item>
                                <div ng-repeat="item in servicios">
                                   <strong>{{$index + 1}}</strong> {{item.NombreServicio}}
                                </div>

                            </ion-item>
                        </ion-list>
                            <label>Fecha: </label>
                            <datepicker>
                                <input ng-model="Domicilio.Fecha" type="text" required/>
                            </datepicker>
                    </div>
                    <button class="button button-block button-balanced" ng-class="{'disabled': DomicilioForm.$invalid}" ng-disabled="DomicilioForm.$invalid"
                        ng-click="Registrar()">
                        Crear Domicilio
                        </button>
                </form>
            </div>
        </ion-content>
    </ion-view>
</div>