<div ng-controller="HomeCtrl">
    <ion-header-bar class="bar-stable">
        <a ng-click="logout()" class="button buttons-left">
            <i class="icon ion-close"></i>
        </a>
        <h3 class="title">LabApp v0.0.1</h3>
    </ion-header-bar>
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Servicios" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <ion-view view-title="Servicios" ng-controller="ServiciosCtrl">
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="item in servicios">
                            <div>
                                <strong>{{item.NombreServicio}}</strong>
                            </div>
                            <div class="row">
                                <div class="col-60 item-text-wrap">
                                    {{item.Descripcion}}
                                </div>
                                <div class="col-offset-10 col-20">
                                    <button class="button button-block button-positive item-button-right" ng-click="AddView(item)">
                                        <i class="icon ion-android-add"></i>
                                    </button>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="Historial" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <ion-nav-view name="Historial"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Configuración" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
            <ion-nav-view name="Opciones"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</div>